
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table id="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>first_name</th>
            <th>last_name</th>
            <th>birth_date</th>
            <th>gender</th>
        </tr>
    </thead>
</table>